<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizar Cliente e Endereço</title>
    <link rel="stylesheet" href="/css/crud.css">
</head>
<body>
    <h1>Visualizar Cliente</h1>

    <!-- Informações do Cliente -->
    <fieldset>
        <legend>Informações do Cliente</legend>
        <label for="name">Nome:</label>
        <p id="name"><%= client.name %></p>
    
        <label for="email">Email:</label>
        <p id="email"><%= client.email %></p>

        <label for="email">Documento:</label>
        <p id="email"><%= client.document %></p>
    
        <label for="active">Ativo:</label>
        <p id="active"><%= client.active ? "Sim" : "Não" %></p>

        <label for="phone_numbers">Telefone(s):</label>
        <% if (client.phone_numbers && client.phone_numbers.length > 0) { %>
            <ul id="phone_numbers">
                <% client.phone_numbers.forEach(function(phone) { %>
                    <li><%= phone %></li>
                <% }); %>
            </ul>
        <% } else { %>
            <p id="no_phone">Nenhum telefone cadastrado.</p>
        <% } %>
    </fieldset>
    
    <h1>Visualizar Endereço</h1>
    
    <!-- Informações de Endereço -->
    <fieldset>
        <legend>Informações de Endereço</legend>
    
        <% if (client.addresses && client.addresses.length > 0) { %>
            <% client.addresses.forEach(function(address, index) { %> 
                <h3>Endereço <%= index + 1 %>:</h3>
    
                <label for="type_<%= index %>">Tipo de Endereço:</label>
                <p id="type_<%= index %>"><%= address.adr_type || 'N/A' %></p>

                <label for="type_<%= index %>">Apelido:</label>
                <p id="type_<%= index %>"><%= address.nick || 'N/A' %></p>
            
                <label for="street_<%= index %>">Rua:</label>
                <p id="street_<%= index %>"><%= address.street || 'N/A' %></p>
            
                <label for="number_<%= index %>">Número:</label>
                <p id="number_<%= index %>"><%= address.number || 'N/A' %></p>
            
                <label for="complement_<%= index %>">Complemento:</label>
                <p id="complement_<%= index %>"><%= address.complement || 'N/A' %></p>
            
                <label for="neighborhood_<%= index %>">Bairro:</label>
                <p id="neighborhood_<%= index %>"><%= address.neighborhood || 'N/A' %></p>
            
                <label for="city_<%= index %>">Cidade:</label>
                <p id="city_<%= index %>"><%= address.city || 'N/A' %></p>
            
                <label for="state_<%= index %>">Estado:</label>
                <p id="state_<%= index %>"><%= address.state || 'N/A' %></p>
            
                <label for="zip_code_<%= index %>">CEP:</label>
                <p id="zip_code_<%= index %>"><%= address.zipcode || 'N/A' %></p>
                <br><br>
            <% }) %>
        <% } else { %>
            <p>Nenhum endereço cadastrado.</p>
        <% } %>
    </fieldset>
    
    
    <div class="btn-container">
        <button style="margin: 20px;" onclick="window.location.href='/clientEditView?id=<%= client.id %>'">Editar Cliente</button>
        <button style="margin: 20px;" onclick="window.location.href='/delete/<%= client.id %>'">Deletar Cliente</button>
    </div>
    
</body>
</html>
