<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil do Cliente - E-commerce</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/user.css">
</head>
<body>
      <div class="navbar">
        <a href="/user/returns"><i class="material-icons">swap_horiz</i>Trocas</a>
        <a href="/user/orders"><i class="material-icons">swap_vert</i>Pedidos</a>
        <a href="/main" class="btn btn-primary">
            <i class="material-icons">shopping_cart</i> Comprar
        </a>
        <a href="/user/settings"><i class="material-icons">settings</i>Configurações</a>
    </div>

<body>
  <div class="container">
    <h1>Minhas Trocas</h1>
    <div class="table-wrapper">

      <% if (returns.length > 0) { %>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Produto</th>
              <th>Quantidade</th>
              <th>Status da Troca</th>
              <th>Data da Solicitação</th>
              <th>ID do Pedido</th>
              <th>Data do Pedido</th>
              <th>Valor Total</th>
              <th>Status do Pedido</th>
              <th>Cupom</th>
            </tr>
          </thead>
          <tbody>
            <% returns.forEach(ret => { %>
              <tr>
                <td><%= ret.product_name %></td>
                <td><%= ret.quantity %></td>
                <td><%= ret.status_name %></td>
                <td><%= new Date(ret.created_at).toLocaleDateString("pt-BR") %></td>
                <td>#<%= ret.order_id %></td>
                <td><%= new Date(ret.order_date).toLocaleDateString("pt-BR") %></td>
                <td>R$ <%= ret.order_total.replace('.', ',') %></td>
                <td><%= ret.order_status %></td>
                <td><%= ret.code %></td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      <% } else { %>
        <p>Você ainda não solicitou nenhuma troca.</p>
      <% } %>

    </div>
  </div>
</body>
</html>
